<a href="https://colab.research.google.com/github/HarshitaNG/oop/blob/main/Operators_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Arithmetic operators
Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication, etc.

In [1]:
m = 15
n = 4

# Output: m + n = 19
print('m + n =',m+n)

# Output: m - n = 11
print('m - n =',m-n)

# Output: m * n = 60
print('m * n =',m*n)

# Output: m / n = 3.75
print('m / n =',m/n)

# Output: m // n = 3
print('m // n =',m//n)

# Output: m ** n = 50625
print('m ** n =',m**n)

m + n = 19
m - n = 11
m * n = 60
m / n = 3.75
m // n = 3
m ** n = 50625

In [ ]:
m = 15
n = 4

# Output: m + n = 19
print('m + n =',m+n)

# Output: m - n = 11
print('m - n =',m-n)

# Output: m * n = 60
print('m * n =',m*n)

# Output: m / n = 3.75
print('m / n =',m/n)

# Output: m // n = 3
print('m // n =',m//n)

# Output: m ** n = 50625
print('m ** n =',m**n)

## Comparison operators
* Comparison operators are used to compare values. It returns either True or False according to the condition.

In [2]:
a = 10
b = 12

# Output: a > b is False
print('a > b is',a>b)

# Output: a < b is True
print('a < b is',a<b)

# Output: a == b is False
print('a == b is',a==b)

# Output: a != b is True
print('a != b is',a!=b)

# Output: a >= b is False
print('a >= b is',a>=b)

# Output: a <= b is True
print('a <= b is',a<=b)

a > b is False
a < b is True
a == b is False
a != b is True
a >= b is False
a <= b is True

In [ ]:
a = 10
b = 12

# Output: a > b is False
print('a > b is',a>b)

# Output: a < b is True
print('a < b is',a<b)

# Output: a == b is False
print('a == b is',a==b)

# Output: a != b is True
print('a != b is',a!=b)

# Output: a >= b is False
print('a >= b is',a>=b)

# Output: a <= b is True
print('a <= b is',a<=b)

## Logical operators

In [3]:
m = True
n = False

print('m and n is',m and n)

print('x or y is',x or y)

print('not x is',not x)

m and n is False

NameError: ignored

In [ ]:
m = True
n = False

print('m and n is',m and n)

print('x or y is',x or y)

print('not x is',not x)

## Bitwise operators
* Bitwise operators act on operands as if they were strings of binary digits. They operate bit by bit, hence the name.

For example, 2 is 10 in binary and 7 is 111.

In [8]:
x=10
y= 4
x & y = 0 (0000 0000)
x ^ y = 14 (0000 1110)
x << 2 = 40 (0010 1000)
x >> 2 = 2 (0000 0010)

SyntaxError: ignored

In [ ]:
x=10
y= 4
x & y = 0 (0000 0000)
x ^ y = 14 (0000 1110)
x << 2 = 40 (0010 1000)
x >> 2 = 2 (0000 0010)

## Assignment operators
* Assignment operators are used in Python to assign values to variables.

In [9]:
a=2
a += 5
a %= 5
a **= 5
a //= 5
print(a)

6

## Special operators
* Python language offers some special types of operators like the identity operator or the membership operator.

## Identity operators
* is and is not are the identity operators in Python.
* They are used to check if two values (or variables) are located on the same part of the memory.
* Two variables that are equal does not imply that they are identical.

In [4]:
x1 = 10
y1 = 10
x2 = 'Welcome'
y2 = 'Welcome'
x3 = [10,20,30]
y3 = [10,20,30]

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

# Output: False
print(x3 is y3)

False
True
False

In [ ]:
x1 = 10
y1 = 10
x2 = 'Welcome'
y2 = 'Welcome'
x3 = [10,20,30]
y3 = [10,20,30]

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

# Output: False
print(x3 is y3)

## Membership operators
* in and not in are the membership operators in Python.
* They are used to test whether a value or variable is found in a sequence (string, tuple, set, list, dictionary)

In [10]:
x = 'Hello world'
y = {1:'a',2:'b'}

# Output: True
print('H' in x)

# Output: True
print('hello' not in x)

# Output: True
print(1 in y)

# Output: False
print('a' in y)

True
True
True
False